.spotlight {
  width: 400px;
  height: 600px;
}

::placeholder {
  color: var(--base);
}

.input {
  border: none;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  background-color: var(--light);
  border-radius: 0.25em;
  height: 40px;
  max-width: 300px;
}

::placeholder,
.input {
  font-family: "Recursive", sans-serif;
}

.results {
  width: 100%;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  color: var(--light);
  font-family: "Recursive", sans-serif;
}

.results span {
  color: var(--accent);
  font-size: 4vw;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: var(--letter);
}

.results h3 {
  color: var(--light);
  word-wrap: break-word;
}

.results p {
  margin-top: 20px;
}

h3.movie-info {
  width: auto;
}

.score-image {
  width: 50px;
  height: auto;
  position: relative;
  top: 10px;
  left: 10px;
}

#bad {
  width: 72px;
}

@media screen and (max-width: 1100px) {
  .results span {
    font-size: 6vw;
  }

  .movie-info {
    margin-bottom: 0px;
  }

  .input {
    margin: 20px;
  }
}

@media screen and (max-width: 450px) {
  .spotlight {
    width: 300px;
    height: auto;
  }
}