.spotlight {
  width: 400px;
  height: 600px;
}

.movie-list {
  position: absolute;
  background-color: var(--light);
  list-style: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 0.25em;
  text-align: center;
  width: 100%;
  overflow-y: auto; /* Add scroll if needed */
  z-index: 1;
  top: 100%; /* Position it directly below the input */
  left: 0; /* Align it to the left of the container */
}

.movie-list li {
  margin: 15px 0;
}

::placeholder {
  color: var(--base);
}

.input-container {
  position: relative; /* Add this to make movie-list positioned relative to this container */
}

.input {
  border: none;
  text-align: center;
  margin: 20px;
  font-size: 24px;
  background-color: var(--light);
  border-radius: 0.25em;
  height: 40px;
  max-width: 300px;
}

::placeholder,
.input,
.movie-list li {
  font-family: "Recursive", sans-serif;
}

.results {
  width: 100%;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  color: var(--light);
  font-family: "Recursive", sans-serif;
}

.results span {
  color: var(--accent);
  font-size: 60px;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: var(--letter);
}

.results h3 {
  font-size: 32px;
  color: var(--light);
  word-wrap: break-word;
}

.results p {
  margin-top: 20px;
}

h3.movie-info {
  width: auto;
}

.score-image {
  width: 50px;
  height: auto;
  position: relative;
  top: 10px;
  left: 10px;
}

#bad {
  width: 72px;
}

@media screen and (max-width: 1100px) {
  .movie-list {
    font-size: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  
  .movie-info {
    margin-bottom: 0px;
  }

  .input {
    margin: 20px;
  }

  .results span {
    font-size: 6vw;
  }

  .results h3 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 475px) {
  .spotlight {
    width: 300px;
    height: auto;
  }
}
