#compare {
  justify-content: center;
}

#compare,
.choice-box {
  display: flex;
  align-items: center;
}

.choice-box {
  flex-direction: column;
  width: 600px;
  height: 800px;
  margin-top: 30px;
  padding-bottom: 50px;
}
