#interaction {
  background-color: var(--veryDark);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #go-back, #submit {
    display: flex;
} */

.btn {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  font-size: 36px;
  color: var(--veryDark);
  width: auto;
  padding: 10px;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 0.05em;
}

.errors h2 {
  color: var(--accent);
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 0.1em;
  font-size: 48px;
  text-align: center;
}
