main {
  background: var(--veryDark);
  height: auto;
  width: 100%;
  margin: 0 10px;
}

#message {
  color: var(--light);
  text-align: center;
  margin: 20px;
  font-family: "Limelight", sans-serif;
  font-size: 30px;
  letter-spacing: var(--letter);
}

#compare,
#trailer {
  background: linear-gradient(45deg, var(--base), var(--veryDark), var(--base));
  width: 100%;
}

.inst {
  color: var(--accent);
  font-family: "Protest Revolution", sans-serif;
  font-size: 1.5em;
}

@media screen and (max-width: 475px) {
  #message {
    font-size: 18px;
  }
}
